
<div class="carousel-item">
      <img class="d-block w-100" src="{{ content.field_cavalla_tc_image[0] }}" alt="">
      <div class="swiper-slide-content">
        <span class="timeline-year">{{ start_date }} {{ end_date }}</span>
        <h2 class="timeline-title">{{ content.field_cavalla_tc_event_title }}</h2>
        <div class="timeline-text">{{ content.field_cavalla_tc_event_detail[0] }}</div>
    </div>
</div>