<section id="basic_page_cavalla">
<div id="pinContainer">
	<div id="slideContainer">
		<section class="panel">
			<div class="hp_intro center">
				{{ content.field_cavalla_hp_widget_intro }}
			</div>
		</section>
    	<section class="panel">
			<div class="hp_project center py-5">
				{{ content.field_cavalla_hp_project_feed }}
			</div>
		</section>
		<section class="panel">
			<div class="hp_employment center">
				{{ content.field_cavalla_hp_employment }}
			</div>
		</section>
		<section class="panel">
			<div class="hp_skillset center py-5">
		  		{{ content.field_cavalla_hp_skillsets }}
		  	</div>
		</section>
    	<section class="panel">
			<div class="hp_contact center">
				{{ content.field_cavalla_hp_widget_contact }}
			</div>
		</section>
	</div>
</div>
</section>
